<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<style>
    h1{
        background-color: blue;
        color: blanchedalmond;
    }
</style>
<body>
    <h1>this is test login</h1>
    <hr>
    <b>yayayya</b>
</body>
</html>