<% title='Ajax CRUD' %>
<div>
    <h1>AJAX CRUD</h1>
    <button id="createbtn" onclick="showCreateForm()"><b>Create</b></button>
    <table id="product-table" border="2" style="width: 436px;">
    </table>
</div>
<div id="content-box">
    <form id="create-form" action="" method="post"></form>
    <form id="update-form" action="" method="post"></form>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/main.js"></script>