<!DOCTYPE html>
<html>
<head>
    <title><%= product.productName%> PDF</title>
</head>
<body>
    <h1><%= product.productName %></h1>
    <p><%= product.productDescription %></p>
    <p>Price: $<%= product.productPrice %></p>
</body>
</html>